body {
  margin: 0;
  font-family: 'Wix Madefor Display', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: 'Wix Madefor Display', sans-serif;
}
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&family=Babylonica&family=Chakra+Petch:ital,wght@1,300&family=Cookie&family=Dancing+Script&family=Exo+2:wght@200&family=Great+Vibes&family=Libre+Caslon+Text&family=Merriweather:ital,wght@1,300&family=Mrs+Saint+Delafield&family=Mynerve&family=Poppins:ital,wght@1,100&family=Righteous&family=Rock+Salt&family=Satisfy&family=Wix+Madefor+Display&family=Zeyada&display=swap');